<!DOCTYPE html>
<html lang="en">
<head>
    <title>CsvLoader</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Load Default</a></li>
        <li><a href="/?filename=test">Load Test</a></li>
        <li><input id="load_value" type="text" placeholder="Load...?"><input id="load_button" type="button" value="Go"></li>
        <li><a href="/new">+ Create</a></li>
    </ul>
</nav>
<div id="wrap">
    <main>
        <div id="content-left">
            {% block content_left %}{% endblock %}
        </div>
        <div id="content-right">
            {% block content_right %}{% endblock %}
        </div>
    </main>
</div>
<footer>
    Created by cr0wlet.
</footer>
{% block scripts %}{% endblock %}
<script src="/static/crowfiddle2.js"></script>
</body>
</html>